@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


nav {
  position: fixed;
  /* width: 56px !important; */
  z-index: 1;
  overflow: hidden;
  transition: 0.5s all;
  height: 56px;
  right: 0;

  margin: 15px;
    border-radius: 8px;
    /* border: 1px solid #fff; */
    width: calc(100% - 30px);
    background: #8a66e5;

}

nav a {
  color: #fff; /* Light text */
}

nav a:hover {
  color: #b3b3b3; /* Hover effect */
}


.footer{
  padding: 10px 0;
}
.socials, .footer-links {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #fff;
  align-items: center;
  font-size: 12px;
}

.footer-links {
  gap: 2px;
} 

.footer-links a {
  padding: 0px;
  text-decoration: underline;
}

.socials a {
  padding: 10px 5px;
}

svg {
  /* fill: var(--color-blue-200); */
}

.default-questions {
  background: #6c757d;
}

.w-made-by {
  background-color: #ede5ff;
    padding: 8px 15px;
    border-radius: 8px;
    height: 90%;
    align-items: center;
}

.w-text-131 {
  color: #85f;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
}

.name-widget {
  position: fixed;
  bottom: 18px;
  left: 18px;
}

@media screen and (max-width: 768px) {
  .name-widget {
    position: static;
    padding: 18px;
    width: fit-content;
    text-align: center;
    margin: auto;
  }
}